<div class=" container container_add-product card container-fluid" >
  
    <div class="card-body head-add">
      <button class="btn btn-light" type="button" [routerLink]="['/user']" routerLinkActive="router-link-active" >
          <i class="material-icons"> arrow_back</i>
      </button>
      <h5 class="card-title">New User</h5>
      <button class="btn btn-info" type="button" (click)="onAddUser(fromUser)">SAVE</button>
    </div>
    
    <ul class="list-group list-group-flush">
  
      <li class="list-group-item">
          <form #fromUser="ngForm" (submit)="onSubmit(fromUser.value)">
              <div class="form-group row">
                <label for="exampleFormControlFile1" class="col-sm-2 col-form-label">Add Image</label>
                <div class="col-sm-10">
                    <input
                      type="file"
                      class="form-control-file"
                      id="exampleFormControlFile1"
                      (change)="onFileSelected($event)"
                    >
                    <img  id="imageAdd" src="" height="200" alt="Image preview...">
                  </div>
  
              </div>
              <div class="form-group row">
                <label for="formGroupExampleInput" class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-10">
                    <input
                      type="text"
                      name="txtUserName"
                      class="form-control"
                      id="formGroupExampleInput"
                      [(ngModel)]="user.name"
                      [ngModelOptions]="{standalone: true}"
                      placeholder="Name"
                      minlength="3"
                      maxlength="20"
                      required="required"
                      pattern=""
                      #username 
                    >
                  </div>
                  <span
                    for=""
                    class="alert alert-danger"
                    role="alert"
                    *ngIf="username.error?.required"
                  
                  >No Empty
                  </span>
                  <span
                    for=""
                    class="alert alert-danger"
                    role="alert"
                    *ngIf="username.error?.minlength"
                  >No Empty
                  </span>
                  <span
                    for=""
                    class="alert alert-danger"
                    role="alert"
                    *ngIf="username.error?.maxlength"
                  >No Empty
                  </span>

              </div>
              <div class="form-group row">
                  <label for="formGroupExampleInput" class="col-sm-2 col-form-label">Country</label>
                  <div class="col-sm-10">
                      <input
                        type="text"
                        name="txtUserCountry"
                        class="form-control"
                        id="formGroupExampleInput"
                        [(ngModel)]="user.country"
                        [ngModelOptions]="{standalone: true}"
                        placeholder="Country"
                        #userCountry ="ngModel"
                      >
                    </div>
              </div>
              <div class="form-group row">
                  <label for="formGroupExampleInput" class="col-sm-2 col-form-label">Email</label>
                  <div class="col-sm-10">
                      <input
                        type="email"
                        class="form-control"
                        id="formGroupExampleInput"
                        [(ngModel)]="user.email"
                        [ngModelOptions]="{standalone: true}"
                        placeholder="Email"
                        name = "txtEmail"
                        #userEmail ="ngModel"
                      >
                    </div>
                </div>
              <div class="form-group row">
                  <label for="formGroupExampleInput" class="col-sm-2 col-form-label">Age</label>
                  <div class="col-sm-10">
                      <input
                        type="number"
                        class="form-control"
                        id="formGroupExampleInput"
                        [(ngModel)]="user.age"
                        [ngModelOptions]="{standalone: true}"
                        placeholder="Age"
                        name = "textAge"
                        #userAge ="ngModel"
                      >
                    </div>
              </div>
              <div class="form-group row">
                  <label for="inputState" class="col-sm-2 col-form-label">Gender</label>
                  <div class="col-sm-10">
                      <select id="inputState" class="form-control" [(ngModel)]="user.gender" [ngModelOptions]="{standalone: true}">
                          <option selected>male</option>
                          <option>female</option>
                      </select>
                  </div>
              </div>

          </form>

      </li>
      
    </ul>

  </div>