<div class="container container_edit-product card bg-light container-fluid" >
    <div class="card-body head-edit">
      <button class="btn btn-info" (click)="onBack()" type="button">
          <i class="material-icons"> arrow_back</i>
      </button>
      <h2 class="card-title">{{user.name}}</h2>
      <button class="btn btn-warning" type="button" [routerLink]="['/user/add']" routerLinkActive="router-link-active" >Add User</button>
    </div>


    <div class="row">
    <div class="col-5 img-detail">
      <img src="{{user.picture}}" alt="">
    </div>
    <div class="col-7">
      <div class="row item-product">
        <div class="col">
            <h4>ID : </h4>

        </div>
        <div class="col content-item">
          <h4>{{user.id}}</h4>
        </div>
      </div>
      <div class="row item-product">
        <div class="col">
            <h4>Name: </h4>
        </div>
        <div class="col content-item">
          <h4>{{user.name}}</h4>
        </div>
      </div>
      <div class="row item-product">
          <div class="col">
              <h4>Country: </h4>
          </div>
          <div class="col content-item">
            <h4>{{user.country}}</h4>
          </div>
      </div>
      <div class="row item-product">
          <div class="col">
              <h4>Email: </h4>
          </div>
          <div class="col content-item">
            <h4>{{user.email}}</h4>
          </div>
        </div>
      <div class="row item-product">
        <div class="col">
            <h4>Age: </h4>
        </div>
        <div class="col content-item">
        <h4>{{user.age | currency}}</h4>
      </div>
      </div>
      <div class="row item-product">
        <div class="col">
            <h4>Gender: </h4>
        </div>
        <div class="col content-item">
            <h4>{{user.gender}}</h4>
        </div>
      </div>
      <div class="row item-product-last">
        <div class="col">
          <button class="btn btn-success btn-lg" [routerLink]="['/user', user.id, 'edit']" routerLinkActive="router-link-active" type="button">Edit</button>
        </div>
        <div class="col content-item">
          <button class="btn btn-danger btn-lg" (click)="delete(user.id) " type="button">Delete</button>
        </div>
    </div>
    </div>

  </div>

  </div>
